# Seating optimization
This notebook is designed to

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display, HTML
from itertools import combinations

In [57]:
names = pd.read_csv("sample_names.csv")
display(names)

      Name
0    Alice
1      Bob
2  Charlie
3    David
4    Eliza
5    Frank
6     Greg
7  Heather
8     Igor

In [58]:
pairs = pd.DataFrame(0.0,index=names.values[:,0],columns=names.values[:,0])
pairs = pairs.where(np.triu(np.ones(pairs.shape),1).astype(np.bool))
display(pairs)

         Alice  Bob  Charlie  David  Eliza  Frank  Greg  Heather  Igor
Alice      NaN  0.0      0.0    0.0    0.0    0.0   0.0      0.0   0.0
Bob        NaN  NaN      0.0    0.0    0.0    0.0   0.0      0.0   0.0
Charlie    NaN  NaN      NaN    0.0    0.0    0.0   0.0      0.0   0.0
David      NaN  NaN      NaN    NaN    0.0    0.0   0.0      0.0   0.0
Eliza      NaN  NaN      NaN    NaN    NaN    0.0   0.0      0.0   0.0
Frank      NaN  NaN      NaN    NaN    NaN    NaN   0.0      0.0   0.0
Greg       NaN  NaN      NaN    NaN    NaN    NaN   NaN      0.0   0.0
Heather    NaN  NaN      NaN    NaN    NaN    NaN   NaN      NaN   0.0
Igor       NaN  NaN      NaN    NaN    NaN    NaN   NaN      NaN   NaN

Now, we need to enter in how well we think everyone will get along with each other. To do that, we need to isolate every possible pair of guests

In [59]:
pairs = pairs.stack().reset_index()
pairs.columns = ['Person1','Person2','Suitability']
display(pairs)
pairs.to_csv('pairs.csv')

    Person1  Person2  Suitability
0     Alice      Bob          0.0
1     Alice  Charlie          0.0
2     Alice    David          0.0
3     Alice    Eliza          0.0
4     Alice    Frank          0.0
5     Alice     Greg          0.0
6     Alice  Heather          0.0
7     Alice     Igor          0.0
8       Bob  Charlie          0.0
9       Bob    David          0.0
10      Bob    Eliza          0.0
11      Bob    Frank          0.0
12      Bob     Greg          0.0
13      Bob  Heather          0.0
14      Bob     Igor          0.0
15  Charlie    David          0.0
16  Charlie    Eliza          0.0
17  Charlie    Frank          0.0
18  Charlie     Greg          0.0
19  Charlie  Heather          0.0
20  Charlie     Igor          0.0
21    David    Eliza          0.0
22    David    Frank          0.0
23    David     Greg          0.0
24    David  Heather          0.0
25    David     Igor          0.0
26    Eliza    Frank          0.0
27    Eliza     Greg          0.0
28    Eliza  Heather          0.0
29    Eliza     Igor          0.0
30    Frank     Greg          0.0
31    Frank  Heather          0.0
32    Frank     Igor          0.0
33     Greg  Heather          0.0
34     Greg     Igor          0.0
35  Heather     Igor          0.0

In [100]:
newpairs = pd.read_csv('pairs.csv',index_col=0)#
newpairs['Suitability'] = np.random.uniform(-0.25,0.25,size=newpairs['Suitability'].size)
newpairs.loc[newpairs.sample(frac=0.1).index,'Suitability'] = 1
costMatrix = newpairs.set_index(['Person1', 'Person2']).unstack()
display(costMatrix)
costMatrix = costMatrix.values

        Suitability                                                    \
Person2         Bob   Charlie     David     Eliza     Frank      Greg
Person1
Alice      0.052154  1.000000 -0.139187  0.146694  0.193634  0.245871
Bob             NaN -0.149114 -0.240289 -0.090770  0.047005 -0.216239
Charlie         NaN       NaN  0.241565 -0.087090  1.000000 -0.217508
David           NaN       NaN       NaN  0.237216 -0.032360  1.000000
Eliza           NaN       NaN       NaN       NaN -0.199199 -0.158452
Frank           NaN       NaN       NaN       NaN       NaN -0.190314
Greg            NaN       NaN       NaN       NaN       NaN       NaN
Heather         NaN       NaN       NaN       NaN       NaN       NaN


Person2   Heather      Igor
Person1
Alice    0.052202 -0.088007
Bob      0.228546  1.000000
Charlie  0.215986  0.039812
David   -0.228875  0.083036
Eliza    0.036707  0.186016
Frank    0.078540  0.086147
Greg     0.211344  0.086255
Heather       NaN -0.070129

In [104]:
nTables = 2
tableSize = 5
nEmptyChairs = nTables*tableSize - names.size
allNames = names.copy()
for i in range(names.size,nTables*tableSize):
    allNames.loc[i] = "Empty Chair" 
fullCostMatrix = np.pad(costMatrix,((0,nEmptyChairs+1),(1,nEmptyChairs)), mode='constant', constant_values=0)
allNames['Table']=np.random.permutation(np.arange(allNames.size)/tableSize)
display(allNames)

          Name  Table
0        Alice      1
1          Bob      0
2      Charlie      1
3        David      1
4        Eliza      0
5        Frank      1
6         Greg      0
7      Heather      0
8         Igor      1
9  Empty Chair      0

In [102]:
def cost_function(allNames,costMatrix):
    xv, yv = np.meshgrid(allNames['Table'].values, allNames['Table'].values)
    return np.nansum(costMatrix[(xv == yv)*(np.triu(np.ones(costMatrix.shape,dtype=bool),1))])

In [ ]:
def swap_rows(allNames):
    swap

In [ ]:
def acceptance_function(allNames,trialNames,temperature):

In [ ]:
def trial_swap(allNames, temperature):
    trialNames = swap_rows(allNames)
    if acceptance_function(allNames,trialNames,temperature):
        allNames = trialNames.copy()
    return allNames

In [105]:
cost_function(allNames,fullCostMatrix)

2.395774310790923