# Seating optimization
This notebook is designed to

In [14]:
import numpy as np
import pandas as pd
from IPython.display import display, HTML
from itertools import combinations

In [137]:
names = pd.read_csv("sample_names.csv")
display(names)

      Name
0    Alice
1      Bob
2  Charlie
3    David
4    Eliza
5    Frank
6     Greg
7  Heather

[['Alice']
 ['Bob']
 ['Charlie']
 ['David']
 ['Eliza']
 ['Frank']
 ['Greg']
 ['Heather']]

In [139]:
pairs = pd.DataFrame(0.0,index=names.values,columns=names.values)
pairs = pairs.where(np.triu(np.ones(pairs.shape)).astype(np.bool))
display(pairs)

,"(Alice,)","(Bob,)","(Charlie,)","(David,)","(Eliza,)","(Frank,)","(Greg,)","(Heather,)"
"(Alice,)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"(Bob,)",NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"(Charlie,)",NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
"(David,)",NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
"(Eliza,)",NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
"(Frank,)",NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
"(Greg,)",NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
"(Heather,)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

Now, we need to enter in how well we think everyone will get along with each other. To do that, we need to isolate every possible pair of guests

In [129]:
pairs = pairs.stack().reset_index()
pairs.columns = ['Person 1','Person 2','Suitability']
display(pairs)
pairs.to_csv('pairs.csv')

      Person 1    Person 2  Suitability
0     (Alice,)    (Alice,)          0.0
1     (Alice,)      (Bob,)          0.0
2     (Alice,)  (Charlie,)          0.0
3     (Alice,)    (David,)          0.0
4     (Alice,)    (Eliza,)          0.0
5     (Alice,)    (Frank,)          0.0
6     (Alice,)     (Greg,)          0.0
7     (Alice,)  (Heather,)          0.0
8       (Bob,)      (Bob,)          0.0
9       (Bob,)  (Charlie,)          0.0
10      (Bob,)    (David,)          0.0
11      (Bob,)    (Eliza,)          0.0
12      (Bob,)    (Frank,)          0.0
13      (Bob,)     (Greg,)          0.0
14      (Bob,)  (Heather,)          0.0
15  (Charlie,)  (Charlie,)          0.0
16  (Charlie,)    (David,)          0.0
17  (Charlie,)    (Eliza,)          0.0
18  (Charlie,)    (Frank,)          0.0
19  (Charlie,)     (Greg,)          0.0
20  (Charlie,)  (Heather,)          0.0
21    (David,)    (David,)          0.0
22    (David,)    (Eliza,)          0.0
23    (David,)    (Frank,)          0.0
24    (David,)     (Greg,)          0.0
25    (David,)  (Heather,)          0.0
26    (Eliza,)    (Eliza,)          0.0
27    (Eliza,)    (Frank,)          0.0
28    (Eliza,)     (Greg,)          0.0
29    (Eliza,)  (Heather,)          0.0
30    (Frank,)    (Frank,)          0.0
31    (Frank,)     (Greg,)          0.0
32    (Frank,)  (Heather,)          0.0
33     (Greg,)     (Greg,)          0.0
34     (Greg,)  (Heather,)          0.0
35  (Heather,)  (Heather,)          0.0

In [130]:
newpairs = pd.read_csv('pairs.csv',index_col=0)
display(newpairs)

        Person 1      Person 2  Suitability
0     ('Alice',)    ('Alice',)          0.0
1     ('Alice',)      ('Bob',)          0.0
2     ('Alice',)  ('Charlie',)          0.0
3     ('Alice',)    ('David',)          0.0
4     ('Alice',)    ('Eliza',)          0.0
5     ('Alice',)    ('Frank',)          0.0
6     ('Alice',)     ('Greg',)          0.0
7     ('Alice',)  ('Heather',)          0.0
8       ('Bob',)      ('Bob',)          0.0
9       ('Bob',)  ('Charlie',)          0.0
10      ('Bob',)    ('David',)          0.0
11      ('Bob',)    ('Eliza',)          0.0
12      ('Bob',)    ('Frank',)          0.0
13      ('Bob',)     ('Greg',)          0.0
14      ('Bob',)  ('Heather',)          0.0
15  ('Charlie',)  ('Charlie',)          0.0
16  ('Charlie',)    ('David',)          0.0
17  ('Charlie',)    ('Eliza',)          0.0
18  ('Charlie',)    ('Frank',)          0.0
19  ('Charlie',)     ('Greg',)          0.0
20  ('Charlie',)  ('Heather',)          0.0
21    ('David',)    ('David',)          0.0
22    ('David',)    ('Eliza',)          0.0
23    ('David',)    ('Frank',)          0.0
24    ('David',)     ('Greg',)          0.0
25    ('David',)  ('Heather',)          0.0
26    ('Eliza',)    ('Eliza',)          0.0
27    ('Eliza',)    ('Frank',)          0.0
28    ('Eliza',)     ('Greg',)          0.0
29    ('Eliza',)  ('Heather',)          0.0
30    ('Frank',)    ('Frank',)          0.0
31    ('Frank',)     ('Greg',)          0.0
32    ('Frank',)  ('Heather',)          0.0
33     ('Greg',)     ('Greg',)          0.0
34     ('Greg',)  ('Heather',)          0.0
35  ('Heather',)  ('Heather',)          0.0

In [109]:
print(pairs['Pair'][:,1])

ValueError: Can only tuple-index with a MultiIndex